= form_for @league, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field input-xlarge'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area input-xlarge', :rows => 5 
  .control-group
    = f.label :active, :class => 'control-label'
    .controls
      - if @league.game.active?
        = f.check_box :active, :class => 'check_box'
      - else
        = f.check_box :active, :class => 'check_box', :disabled => true
        .help-block
          %p
            %span.label.label-important Cannot activate
            This league cannot be activated because its game is currently inactive.

  .control-group
    = f.label :game_id, :class => 'control-label'
    .controls
      - if @league.id
        %span.input-xlarge.uneditable-input= @league.game.name
      - else
        = select_tag :game_id, options_from_collection_for_select(Game.where(:active => true), :id, :name, @league.game_id)
  .control-group
    %label.control-label Admins
    .controls
      = select_tag :admins, options_from_collection_for_select(User.all, :id, :alias, User.with_role(:league_admin, @league).pluck(:id)), { :multiple => true, :class => 'input-xlarge', :"data-placeholder" => "Enter user aliases ..." }
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), leagues_path, :class => 'btn'
